<!-- WeatherData object was assigned a variable in here to reduce sharedWeatherData() signal calls and
        give necessary data to WeatherTabComponent easily -->
@let sharedWeatherDataValue = sharedWeatherData();
@if (sharedWeatherDataValue) {
    <app-weather-card-section sectionTitle="Hour" [weatherInfoType]="WeatherInfoType.Hourly">
        <app-header-button-container />
    </app-weather-card-section>
    <app-weather-card-section sectionTitle="Week" [weatherInfoType]="WeatherInfoType.Daily" />
    <app-weather-highlight-section />
}
@else {
    <h1>Please choose the city to display weather data</h1>
}
