/* Resizing Main Container using flexbox */
:host {
    flex: 2 1 967px;

    /* This rule prevents overflow of the weather cards in main container */
    min-width: 0;

    /* Align Items Correctly inside Container */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 35px 60px 72px;

    /* Used to Avoid Unnecessary Growth of the Element and Overflow */
    box-sizing: border-box;
}