<!-- WeatherData object was assigned a variable in here to reduce sharedWeatherData() signal calls and
give necessary data to WeatherCardSection as a variable while avoiding possible null error -->
@let sharedWeatherDataValue = sharedWeatherData();

<!-- If weather data for searched city was successfully retrieved, display full weather data cards.
 Otherwise, display no weather data text. -->
@if (sharedWeatherDataValue) {
    <app-weather-card-section sectionTitle="Hourly" [weatherInfoType]="WeatherInfoType.Hourly">
        <app-header-button-container />
    </app-weather-card-section>
    <app-weather-card-section sectionTitle="Daily" [weatherInfoType]="WeatherInfoType.Daily" />
    <app-weather-highlight-section />
}
@else {
    <h1>Please choose the city to display weather data</h1>
}
