:host {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

h2 {
    font-family: 'Geist', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: 2px;

    flex: 0 1 414px;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contentScrollableContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

/*to hide the scrollbars*/
::-webkit-scrollbar {
    display: none;
}

/* Tablet view */
@media (max-width: 1024px) {
    /* Styling host element */
    :host {
        gap: 24px;
    }
}

/* Mobile view */
@media (max-width: 450px) {
    /* Styling host element */
    :host {
        gap: 15px;
    }

    /* Styling container containing weather cards */
    .contentScrollableContainer {
        gap: 30px;
    }
}