<div class="headerContainer">
    <h2>{{ sectionTitle() }}</h2>
    <ng-content />
</div>

<!-- WeatherData object was assigned a variable in here to reduce sharedWeatherData() signal calls and
     give necessary data to WeatherCard components as a variable while avoiding possible null error -->
@let sharedWeatherDataValue = sharedWeatherData();

<!-- If weather data for searched city was successfully retrieved, display full weather data cards.
 Otherwise, don't display those components. -->
@if (sharedWeatherDataValue) {
    <div class="contentScrollableContainer">
        @if (weatherInfoType() === WeatherInfoType.Hourly) {
            @for (currentHourWeatherData of sharedWeatherDataValue.hourly; track currentHourWeatherData.uuid) {
                <app-weather-card [weatherTemperature]="currentHourWeatherData.temperature"
                                  [weatherDateTime]="currentHourWeatherData.time"
                                  [weatherCode]="currentHourWeatherData.weatherCode"
                                  [weatherInfoType]="weatherInfoType()"
                />
            }
        } 
        @else if (weatherInfoType() === WeatherInfoType.Daily) {
            @for (currentDayWeatherData of sharedWeatherDataValue.daily; track currentDayWeatherData.uuid) {
                <app-weather-card [weatherTemperature]="currentDayWeatherData.temperatureMax"
                                  [weatherDateTime]="currentDayWeatherData.date"
                                  [weatherCode]="currentDayWeatherData.weatherCode"
                                  [weatherInfoType]="weatherInfoType()"
                />
            }
        }
    </div>
}

