/* Giving Text Color */
h1, p {
    color: var(--columbia-blue-main);
}

/* Styling Header */
h1 {
    font-family: "Geist", sans-serif;
    font-size: 55px;
    font-weight: 600;

    margin-bottom: 25px;
}

/* Styling Main Text*/
p {
    font-size: 17px;
    font-weight: 400;
    line-height: 163.2%;
}