/* Styling main container to align elements */
.container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Styling section header h2 to set font styles */
h2 {
    font-family: 'Geist', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: 2px;
}

/* Styling contentContainer */
.contentContainer {
    /* Aligning elements inside container */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;

    /* Making container scrollable */
    overflow: auto;
    white-space: nowrap;
}

/* Tablet view */
@media (max-width: 1024px) {
    /* Styling contentContainer to align */
    .contentContainer {
        margin-bottom: 100px;
    }
}