/* Host Element Takes All Available Space in Parent Flex Container */
:host {
    flex: 1;
}

/* Styling Container */
.container {
    /* Container Takes All Available Space From Host Element */
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling container of the weather information */
.weatherInformationContainer {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling Weather Icon */
.weatherIcon {
    margin-top: 6%;

    height: 242px;
    width: 242px;

    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    background-color: var(--picton-blue-main);

    /* For supporting legacy browsers */
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
}

/* Styling Temperature Text */
.sidebarTemperature {
    margin-top: 1%;

    font-family: "Geist", sans-serif;
    font-size: 64px;
    font-weight: 800;

    color: var(--columbia-blue-main);
    align-self: flex-start;
}

/* Styling Date Text */
.sidebarDate {
    font-family: "Geist", sans-serif;
    font-size: 32px;
    font-weight: 400;

    color: var(--columbia-blue-main);
    align-self: flex-start;
}

/* Styling Horizontal Ruler */
hr {
    align-self: stretch;
    border: 1.5px solid var(--columbia-blue-main);

    margin: 7% 0;
}

/* Class Giving Any Element Bottom Margin */
.marginBottom {
    margin-bottom: 17px;
}

/* Tablet view */
@media (max-width: 996px) {
    /* Styling main container */
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    /* Styling weather icon */
    .weatherIcon {
        margin-top: unset;
    }

    /* Styling container containing weather information */
    .weatherInformationContainer {
        width: 440px;
    }
}
