/* Styling Host Element as a Container */
:host {
    flex: 1;

    /* Container Takes All Available Space From Host Element */
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling NA Icon */
img {
    margin-top: 12%;

    width: 65%;
    height: 30%;
    min-height: 160px;
    min-width: 250px;
    max-height: 230px;
    max-width: 260px;
}

/* Tablet view */
@media (max-width: 996px) {
    /* Styling NA icon */
    img {
        margin-top: 8%;
    }
}