/* This rule allows host element to dynamically get space in parent flex container */
:host {
    flex: 1 0 186px;
    max-width: 186px;
}

/* Styling card container */
.container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: var(--columbia-blue-main);

    height: 170px;

    /* Setting border-box to avoid unnecessary container size growth */
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px 10px 10px;
}

/* Styling container holding sunrise/sunset containers */
.dataContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Styling sunrise/sunset container */
.timeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

/* Styling card text */
p, span {
    font-family: 'Geist Mono', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 163.2%;
    color: var(--outer-black-main);
}

/* Tablet view */
@media (max-width: 1024px) {
    /* Styling host element */
    :host {
        flex: 1 0 162px;
        max-width: 162px;
    }

    /* Styling container */
    .container {
        height: 150px;
        padding: 15px 10px 22px 10px;

        gap: 3px;
    }

    /* Styling container holding sunrise/sunset containers */
    .dataContainer {
        gap: 1px;
    }

    /* Styling card title */
    p {
        text-wrap: wrap;
    }
}