/* Styling app-city-list-item to align items */
:host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Removing default styling from button element */
button {
    border: none;
    background: none;
}

/* Hiding button text in PC view */
button p {
    display: none;
}

/* Setting cursor style */
p, p.listItemSelected, .buttonIcon {
    cursor: pointer;
}

/* Styling component's paragraph */
p {
    /* Setting maximum width to prevent overflow */
    max-width: 285px;

    /* Setting font styles */
    font-family: "Geist Mono", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 163.2%;

    color: var(--columbia-blue-main);
    transition: color 0.2s ease-in-out;

    /* Removing ability to select text for visual appeal */
    user-select: none;
    -webkit-user-select: none;
}

/* When hovering paragraph */
:host p:hover {
    color: var(--columbia-blue-hover);
}

/* When clicking paragraph */
:host p:active {
    color: var(--columbia-blue-active);
}

/* Styling paragraph, when component is selected */
p.listItemSelected {
    color: var(--picton-blue-main);
}

/* When hovering paragraph and component is selected */
:host p.listItemSelected:hover {
    color: var(--picton-blue-hover);
}

/* When clicking paragraph and component is selected */
:host p.listItemSelected:active {
    color: var(--picton-blue-active);
}

/* Styling button icon */
.buttonIcon {
    /* Scaling button icon */
    width: 28px;
    height: 28px;

    background-color: var(--columbia-blue-main);
    transition: background-color 0.2s ease-in-out;

    /* Setting icon svg for div */
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    mask-image: url("/assets/button_Icons/delete.svg");

    /* For supporting legacy browsers */
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-image: url("/assets/button_Icons/delete.svg");
}

/* When hovering button icon */
.buttonIcon:hover {
    background-color: var(--delete-color-hover);
}

/* When clicking button icon */
.buttonIcon:active {
    background-color: var(--delete-color-active);
}

/* Tablet view */
@media (max-width: 1024px) {
    /* Removing icon */
    .buttonIcon:hover, .buttonIcon:active {
        background-color: unset;
    }

    /* Styling component's paragraph */
    :host p {
        font-size: 25px;
        max-width: 348px;
    }

    /* Styling component's button */
    button {
        /* Scaling button */
        padding: 5px 33px;
        border-radius: 6px;

        /* Aligning content inside button */
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px;

        background-color: var(--delete-color-hover);
        transition: background-color 0.2s ease-in-out;
    }

    /* Styling button text */
    button p {
        display: block;
        font-size: 17px;
    }

    /* When clicking button */
    button:active {
        background-color: var(--delete-color-active);
    }
}

/* Mobile view */
@media (max-width: 450px) {
    /* Hiding button text */
    button p {
        display: none;
    }

    /* Styling button icon */
    .buttonIcon {
        /* Scaling button icon */
        min-width: 24px;

        /* Align button icon in center */
        margin-left: 2px;
    }

    /* Styling element paragraph */
    :host p {
        font-size: 20px;
    }

    /* Styling button */
    button {
        /* Scaling button */
        max-width: 70px;
        max-height: 31px;

        /* Properly align button icon */
        justify-content: center;
    }
}