/* Styling app-city-search-bar element to scale properly */
:host {
    align-self: stretch;
}

/* Styling form to align elements inside */
form {
    display: flex;
    flex-direction: row;
}

/* Adding space between img icon and input element */
img {
    margin-right: 7px;
}

/* Styling text input and placeholder text */
#citySearchInput, #citySearchInput::placeholder {
    /* Setting font styles */
    font-size: 17px;
    font-weight: 400;
    line-height: 163.2%;

    color: var(--columbia-blue-main);
}

/* Styling text input */
#citySearchInput {
    /* Scaling text input */
    flex: 1 0 auto;
    padding: 2px 0 0 0;

    /* Removing default styling */
    background: none;
    border: none;
}

/* Removing default focus from text input */
#citySearchInput:focus-visible {
    outline: none;
}

/* Styling form button */
button {
    /* Scaling form button */
    margin-left: 10px;
    padding: 7px 13px;

    /* Removing default styling */
    border: none;
    border-radius: 5px;

    /* Setting font styles */
    font-size: 17px;
    font-weight: 400;

    /* Setting cursor */
    cursor: pointer;

    background-color: var(--picton-blue-main);
    color: var(--outer-black-main);
    transition: background-color 0.2s ease-in-out;
}

/* When form button is hovered */
button:hover {
    background-color: var(--picton-blue-hover);
}

/* When form button is clicked */
button:active {
    background-color: var(--picton-blue-active);
}

/* Mobile view */
@media (max-width: 450px) {
    /* Styling form element to align items */
    form {
        align-items: center;
    }

    /* Styling search icon */
    img {
        /* Scaling search icon */
        width: 25px;
        height: 25px;
    }

    /* Styling text input placeholder text */
    #citySearchInput, #citySearchInput::placeholder {
        font-size: 14px;
    }

    /* Styling form button */
    button {
        font-size: 14px;
    }
}
