<div class="container">
    <!-- If current tab is weather tab or favorite cities tab, display City Search Bar Component -->
    @if (currentSidebarButtonPressed() === SidebarButtonType.Weather ||
    currentSidebarButtonPressed() === SidebarButtonType.Cities) {
        <app-city-search-bar (onSubmit)="onFormSubmit($event)"/>
    }

    <!-- This conditional displays sidebar tabs based on the currentSidebarButtonPressed signal value -->
    @if (currentSidebarButtonPressed() === SidebarButtonType.Weather) {
        <!-- WeatherData object was assigned a variable in here to reduce sharedWeatherData() signal calls and
            give necessary data to WeatherTabComponent as a variable while avoiding possible null error -->
        @let weatherDataValue = weatherData();

        <!-- If WeatherService successfully retrieved weather data from Open-Meteo API for corresponding city.
             Otherwise, display NA component -->
        @if (weatherDataValue) {
            <app-weather-tab
                    [weatherTemperature]="weatherDataValue.daily[0].temperatureMax"
                    [currentDate]="weatherDataValue.daily[0].date"
                    [currentCityName]="weatherDataValue.city.cityName"
                    [weatherCode]="weatherDataValue.daily[0].weatherCode"
                    [weatherPrecipitationProbability]="weatherDataValue.daily[0].precipitationProbability"
            />
        }
        @else {
            <app-na />
        }
    } @else if (currentSidebarButtonPressed() === SidebarButtonType.Cities) {
        <app-city-list-tab />
    } @else if (currentSidebarButtonPressed() === SidebarButtonType.About){
        <app-about-tab />
    }

    <div class="buttonContainer">
        <button app-sidebar-button iconName="cloud"
                [buttonTabActive]="currentSidebarButtonPressed() === SidebarButtonType.Weather"
                [buttonType]="SidebarButtonType.Weather"
                (onClick)="setActiveSidebarButton($event)"
                >Weather</button>
        <button app-sidebar-button iconName="checkmark"
                [buttonTabActive]="currentSidebarButtonPressed() === SidebarButtonType.Cities"
                [buttonType]="SidebarButtonType.Cities"
                (onClick)="setActiveSidebarButton($event)"
                >Cities</button>
        <button app-sidebar-button iconName="about"
                [buttonTabActive]="currentSidebarButtonPressed() === SidebarButtonType.About"
                [buttonType]="SidebarButtonType.About"
                (onClick)="setActiveSidebarButton($event)"
                >About</button>
    </div>
</div>
