/* Resizing Sidebar Container using Flexbox */
:host {
    flex: 1 0 473px;

    /* This rule prevents container from unnecessary expansion */
    box-sizing: border-box;

    background-color: var(--outer-black-main);
    padding: 35px 60px 72px 60px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
}