<div class="container">
    @if (currentSidebarButtonPressed() === SidebarButtonType.Weather ||
    currentSidebarButtonPressed() === SidebarButtonType.Cities) {
        <app-city-search-bar (onSubmit)="onFormSubmit($event)"/>
    }

    @if (currentSidebarButtonPressed() === SidebarButtonType.Weather) {
        <!-- WeatherData object was assigned a variable in here to reduce weatherData() signal calls and
        give necessary data to WeatherTabComponent easily -->
        @let weatherDataValue = weatherData();

        <!-- If WeatherService successfully retrieved weather data from Open-Meteo API for corresponding city -->
        @if (weatherDataValue) {
            <app-weather-tab
                    [weatherTemperature]="weatherDataValue.daily[0].temperatureMax"
                    [currentDate]="weatherDataValue.daily[0].date"
                    [currentCityName]="weatherDataValue.city"
                    [weatherCode]="weatherDataValue.daily[0].weatherCode"
                    [weatherPrecipitationProbability]="weatherDataValue.daily[0].precipitationProbability"
            />
        }
        @else {
            <app-na />
        }
    } @else if (currentSidebarButtonPressed() === SidebarButtonType.Cities) {
        <p>Cities Tab</p>
    } @else if (currentSidebarButtonPressed() === SidebarButtonType.About){
        <app-about-tab />
    }

    <div class="buttonContainer">
        <button app-sidebar-button iconName="cloud"
                [buttonTabActive]="currentSidebarButtonPressed() === SidebarButtonType.Weather"
                [buttonType]="SidebarButtonType.Weather"
                (onClick)="setActiveSidebarButton($event)"
                >Weather</button>
        <button app-sidebar-button iconName="checkmark"
                [buttonTabActive]="currentSidebarButtonPressed() === SidebarButtonType.Cities"
                [buttonType]="SidebarButtonType.Cities"
                (onClick)="setActiveSidebarButton($event)"
                >Cities</button>
        <button app-sidebar-button iconName="about"
                [buttonTabActive]="currentSidebarButtonPressed() === SidebarButtonType.About"
                [buttonType]="SidebarButtonType.About"
                (onClick)="setActiveSidebarButton($event)"
                >About</button>
    </div>
</div>
