/* Styling app-sidebar-weather-info element to scale properly  */
:host {
    align-self: stretch;
}

/* Styling container */
.container {
    /* Aligning elements inside container */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

/* Scaling icon */
img {
    width: 37px;
    height: 30px;
}

/* Styling span text */
span {
    /* Setting font styles */
    font-size: 19px;
    font-weight: 600;
    line-height: 163.2%;

    color: var(--columbia-blue-main);
}

/* Tablet view */
@media (max-width: 1024px) {
    /* Styling container */
    .container {
        gap: 21px;
    }

    /* Scaling icon */
    img {
        width: 30px;
        height: 23px;
    }
}

/* Mobile view */
@media (max-width: 450px) {
    /* Styling container */
    .container {
        gap: 11px
    }

    /* Scaling icon */
    img {
        width: 20px;
        height: 20px;
    }

    /* Styling span text */
    span {
        font-size: 14px;
    }
}

