/* This rule allows host element to dynamically get space in parent flex container */
:host {
    flex: 1 0 186px;
    max-width: 186px;
}

/* Styling Card Container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--columbia-blue-main);

    height: 170px;

    /* Setting border-box to avoid unnecessary container size growth */
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px 10px 53px 10px;
}

/* Styling title text */
p {
    font-family: 'Geist Mono', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 163.2%;
    color: var(--outer-black-main);
}

/* Styling index text */
span {
    font-family: 'Geist', sans-serif;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    line-height: 62px;
}

/* Tablet view */
@media (max-width: 1024px) {
    /* Styling host element */
    :host {
        flex: 1 0 162px;
        max-width: 162px;
    }

    /* Styling container */
    .container {
        height: 150px;
        padding: 15px 10px 33px 10px;
    }
}

/* Mobile view */
@media (max-width: 450px) {
    /* Styling host element */
    :host {
        max-width: 156px;
    }

    /* Styling container */
    .container {
        padding: 15px 7px 33px;
    }
}