/* Styling host elements to properly align items */
:host {
    margin-top: 12%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;

    /* Making container vertically scrollable */
    overflow-y: auto;
    white-space: nowrap;

    /* Making container element take maximum width */
    flex: auto;
}